.about {
  background-color: rgba(191, 21, 21, 0.30);
}

.about__image {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3.5;
}

.about__info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0 95px;
}

.about__info:first-child {
  width: 100%;
}

.about__description {
  font-weight: 300;
  width: calc(50% - 15px);
}

.about__description__title {
  display: inline-block;
  padding-bottom: 1rem;
}

.about__description:nth-child(1) {
  width: 100%;
}

.about__description span {
font-weight: 700;
}

@media screen and (min-width: 768px) {
  .about__info {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .about__wrapper {
    display: flex;
    padding-bottom: 50px;
    gap: 30px;
  }

  .about__image {
    width: 40%;
  }

  .about__info {
    width: 60%;
    padding: 0;
  }
}