.header {
  padding: 27px 0;
  text-transform: uppercase;
  background-color: #202020;
  border-bottom: 3px solid #BF1515;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* Add wrapper to set header element flexible */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Druk Wide Cy Web",sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.header__navigation {
  font-size: 20px;
}

/* Remove default dots in unordered list */
.header__links {
  list-style-type: none;
  display: none;
  min-width: 100dvw;
  position: absolute;
  top: 81px;
  right: 0;
  z-index: 1;
  text-align: center;
}

.header__links a {
  display: block;
}

.header__link {
  padding-bottom: 25px;
}

.nav_btn {
  display: none;
  border: none;
  background-color: transparent;
}

#open_icon,
#close_icon {
  cursor: pointer;
  color: #fffff1;
}

#close_icon {
  display: none;
}

.nav_btn:checked ~ .header__links {
  display: block;
  background-color: rgba(32, 32, 32, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem 0;
  border-bottom: 3px solid #BF1515;
}

.nav_btn:checked ~ label #close_icon {
  display: block;
}

.nav_btn:checked ~ label #open_icon {
  display: none;
}