.hero {
  /* Use blend-mode multiply to set background image and background color */
  background-blend-mode: multiply;
  background-image: url("/images/hero_background.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgba(32,32,32, 0.2);
  min-height: 648px;
  text-align: center;
}

#hero_mobile {
  padding: 0;
}

.hero__title {
  padding: 400px 2rem 8px;
  color: #BF1515;
  font-size: 39px;
  font-weight: 500;
  letter-spacing: -0.78px;
  text-align: start;
}

.hero__description {
  font-size: 13px;
  padding: 0 2rem 22px;
  text-align: start;
}

.hero__consultation {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #BF1515;
  padding: 1rem;
  border-radius: 8px;
}

.hero__consultation:hover {
  background-color: #BF1515;
  transition: background-color 0.2s;
}

@media screen and (max-width: 350px) {
  .hero__title {
      padding-top: 370px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 886px;
    background-image: url("/images/hero_background_desktop.webp");
  }

  .hero__title {
      font-size: 55px;
      padding-top: 552px;
  }

  .hero__description {
      font-size: 18px;
      padding-bottom: 56px;
  }

  .hero__consultation {
      font-size: 21px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-size: cover;
  }

  .hero__title {
      padding-top: 300px;
  }

  .hero__description {
      padding-bottom: 200px;
  }

  .hero__consultation {
      padding: 1.5rem;
  }
}