.consultation {
  background-color: rgba(191, 21, 21, 0.30);
  padding-bottom: 40px;
}

.consultation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consultation p {
  font-size: 0.5rem;
  /* Add negative margin top to be closer to h2 and doesn't change all h2 elements on page */
  margin-top: -30px;
}

.consultation form {
  width: 100%;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: calc(5px / 2);
  padding: 44px 0;
}

.consultation input,
.consultation textarea {
  font-family: Inter, sans-serif;
  width: 100%;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
}

.consultation input[type=submit] {
  background-color: #202020;
  color: #fffff1;
  cursor: pointer;
}

.consultation input[type=submit]:hover {
  background-color: #BF1515;
  border: #202020;
  transition: background-color 0.2s;
}

#privacy_policy {
  font-size: 0.5rem;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .consultation p {
    font-size: 1rem;
  }

  .consultation input,
  .consultation textarea {
    font-size: 1.2rem;
    padding: 12px 20px;
  }

  .consultation form {
    padding: 80px 0;
  }

  #privacy_policy {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .consultation h2 {
    margin: 0;
  }
}