.faq {
  padding-bottom: 60px;
}

.faq__question {
  border-bottom: 1px solid white;
  position: relative;
}
/* Make animation to open questions */
.faq__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
}

.faq__content > div {
  overflow: hidden;
}

.faq__question label {
  display: block;
  font-weight: 600;
  cursor: pointer;
  padding: 20px 0;
}

.faq__question p {
  font-weight: 300;
  padding: 0 0 20px;
}

.faq__question input {
  display: none;
}

.faq__question label::before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 23px;
  background: url("/images/down_arrow.svg") no-repeat center / cover;
}
/* Add animation to faq section */
.faq__question input[type=checkbox]:checked ~ div {
  animation: open_faq 0.5s linear;
}

.faq__question input[type=checkbox]:checked ~ label::before {
  transform: scale(1, -1);
  transition: transform 0.25s ease;
}

.faq__question input[type=checkbox]:checked ~ .faq__content {
  grid-template-rows: 1fr;
}

.faq__question input[type=checkbox]:not(:checked) ~ label::before {
  transition: transform 0.25s ease;
}

/* Animation for FAQ text opacity */
@keyframes open_faq {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .faq {
    padding-bottom: 75px;
  }

  .faq {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .faq__question {
    max-width: 892px;
    margin: 0 auto;
  }

  .faq__question label {
    font-size: 27px;
  }

  .faq__question label::before {
    width: 20px;
    height: 20px;
  }
}