.contacts {
  padding: 60px 0 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contacts__links li {
  list-style-type: none;
  font-size: 26px;
}

.contacts__links a:hover i {
  color: #BF1515;
  transition: color 0.2s;
}

.contacts__info p {
  padding-bottom: 30px;
}

.contacts__map {
  width: 100dvw;
  position: relative;
  left: -2rem;
  right: -2rem;
}

.contacts iframe {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding: 85px 0 25px;
  }

  .contacts__wrapper {
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .contacts__info {
    font-size: 20px;
  }

  .contacts__info p {
    padding-bottom: 40px;
  }

  .contacts__links li {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__links {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__map {
    position: unset;
    max-width: 60%;
  }
}